html {
	font-size: 62.5%;
}

/**=====================================
*				HEADER
======================================*/

#mainmenu #about a {
	color: #fff;
	background-color: #000;
}

/**=====================================
*				CONTENT
======================================*/

article h1 {
	font-size: 2.7rem;
	background-color: #000000;
	color: #FFFFFF;
	padding: 0.5rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.column {
	width: 45%;
}

article section:nth-of-type(even) {
	float: right;
}

article section p {
	margin-bottom: 1.5rem;
}

article section {
	margin-bottom: 3rem;
}

blockquote {
	clear: both;
	text-align: center;
	font-size: 3rem;
	color: #1e88e5;
	margin-bottom: 3rem;
	font-weight: bold;
}

footer {
	clear: both;
}