/**
 * Generic styles
 *
 * @author      Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* ===========================================
	 Helpers & Starters
	 =========================================== */

.structural {
	position: absolute;
	left: -9999px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.ir {
	display: block;
	background-size: 100%; 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

ul.inline li {
	display: inline-block;
}

