/**=====================================
*				GENERAL
======================================*/

html {
	font-size: 62.5%;
}

body {
	
	width: 100%;
}


/**=====================================
*				HEADER
======================================*/

#mainmenu #home a {
	color: #fff;
	background-color: #000;
}

/**=====================================
*				CONTENT
======================================*/

section#video {
	background-color: #000;
	text-align: center;
}

section#featured {
	width: 100%;
	margin: -4.5rem auto;
	text-align: center;
	position: relative;
	background-color: #BC3427;
	margin-bottom: 4rem;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

section#featured h2 {
	text-align: left;
	font-size: 3rem;
	padding: 0.5rem 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	background-color: #FFFFFF;
}

section#featured ul {
	display: inline-block;
}

section#featured ul li {
	display: inline-block;
}

.pictitle {
	background-color: #EB4A3E;
	margin-bottom: 0.3rem;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
		
}

.pictitle h3 a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;	
}

section#featured img {
	width: 17rem;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
}

section#featured li p {
	background-color: #000000;
	color: #BC3427;
	font-size: 2rem;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.59);
}

div.column {
	width: 45%;
	margin: 2rem;
}

.column section h2 {
	font-size: 2.7rem;
	background-color: #000000;
	color: #FFFFFF;
	padding: 0.5rem;
	margin-bottom: 1rem;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

section#in_the_news article {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-bottom: 3rem;
}

section#in_the_news article:nth-of-type(1) {
	border-bottom: 1px solid #000000;
}


section#in_the_news article:nth-of-type(2) {
	border-bottom: 1px solid #000000;
}

section#in_the_news article h1 {
	margin-bottom: 0.5rem;
}

.date {
	background-color: #FFFFFF;
	width: 7rem;
	height: 7rem;
	float: left;
	margin-right: 2rem;
}

.date p:nth-of-type(1) {
	text-align: center;
	font-size: 2rem;
}

.date p:nth-of-type(2) {
	text-align: center;
	font-weight: bold;
	font-size: 2.7rem;
}

.column section img {
	width: 65%;
	float: left;
	margin-right: 1rem;
}

.column section#picofday dt {
	font-size: 1.5rem;
	font-weight: bold;
}

.column aside {
	border-top: 1px solid #000000;
	margin-top: 9rem;
	margin-bottom: 2rem;
}

.column aside a {
	text-decoration: none;
}

.column aside li {
	list-style: none;
}

.column aside h2 {
	padding-left: 0.5rem;
	background-color: #EB4A3E;
	width: 7rem;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.column aside ul li img{
	margin: 1rem;
	width: 3.5rem;
}

.column aside ul li p {
	background-color: #000000;
	color: #FFFFFF;
	width: 7rem;
	padding: 0.5rem;
	margin-left: 6rem;
	margin-top: -4.2rem;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

section#partners {
	clear: both;
	border-top: 1px solid #000000;
	margin: 2rem;
}

section#partners h2 {
	font-size: 2.7rem;
	width: 12rem;
	background-color: #EB4A3E;
	color: #000000;
	padding-left: 1rem;
	float: left;
	margin-right: 5rem;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

section#partners img {
	width: 8rem;
	margin: 0 2rem;
}

