/**
 *	General stylesheet for Tomorrowland-Project
 *	@author Arnaud Weyts <arnaud.weyts@student.odisee.be>
 *	@version 3-25-2015
 */

/**=====================================
*				GENERAL
======================================*/

html {
	font-size: 62.5%;
}

body {
	font-family: Roboto, sans-serif;
}

/**=====================================
*				HEADER
======================================*/

header {
	max-height: 20rem;
	max-width: 96rem;
}

header h1 {
	text-align: center;
	text-decoration: none;
	font-size: 3rem;
	color: ##842ED1;
}

nav#mainmenu ul {
	display: inline-block;
}

nav#mainmenu ul li {
	text-decoration: none;
	margin-left: 1rem;
}