/**
 *	General stylesheet for Tomorrowland-Project
 *	@author Arnaud Weyts <arnaud.weyts@student.odisee.be>
 *	@version 3-25-2015
 */

/**=====================================
*				GENERAL
======================================*/

html {
	font-size: 62.5%;
}

* {
	margin: 0; /* wipe out browser differences for default values */
	padding: 0; /* wipe out browser differences for default values  */
	-webkit-box-sizing: border-box; /* use border-box box model everywhere */
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
}

.wrapper {
	min-width: 36rem;
	max-width: 96rem;
	margin: 0 auto;
}

/**=====================================
*				HEADER
======================================*/

header {
	text-align: center;
	height: 15rem;
}

header h1 a {
	text-decoration: none;
	font-size: 6.5rem;
	color: #000;
}

/*#logo a {
	width: 60rem;
	height: 11rem;
	background-image: url(../img/title_logo.png);
	margin: 0 auto;
	background-repeat: no-repeat;
}*/


#mainmenu ul {
	padding: 3rem;
	list-style: none;
}

#mainmenu ul li {
	display: inline-block;
	font-size: 1.6rem;
}

#mainmenu ul li a {
	text-decoration: none;
	margin: 7rem;
	padding: 0.5rem;
	color: #000;
}

#mainmenu ul li a:hover {
	color: #fff;
	background-color: #000;
}


.column {
	float: left;
}

/**=====================================
*				FOOTER
======================================*/

footer {
    	height: 5rem;
    	width: 100%;
	background-color: #000000;
	line-height: 5rem;
}

#copyright {
	float: left;
	padding: 0;
	color: #FFFFFF;
}

ul#social {
	float: right;
}

ul#social p {
	color: #FFFFFF;
	float:  left;	
}

ul#social li {
	display: inline-block;
	list-style: none;
	margin-left: 1rem;
}

ul#social li a {
	width: 21px;
	height: 21px;
	display: inline-block;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-size: 63px 21px;
	white-space: nowrap;
  	text-indent: 100%;
  	overflow: hidden; 
  	vertical-align: middle;
}

ul#social .facebook {
	background-position: 0 0;
}

ul#social .twitter {
	background-position: -21px 0;
}

ul#social .youtube {
	background-position: -42px 0;
}